<div class="header">
  <div class="back-icon" (click)="navigateToCatalog()">
    <mat-icon>home</mat-icon>
  </div>
  <div class="logo">CaféGourmet</div>
  <div class="user-icon" (click)="navigateToAccount()">
    <mat-icon>person</mat-icon>
  </div>
</div>

<div class="container" *ngIf="products.length > 0">
  <div class="header">
    <h3>Detalhes da Compra</h3>
  </div>

  <div class="product-list">
    <div class="product-item" *ngFor="let product of products">
      <div class="product-name">{{ product.name_prod }}</div>
      <div class="product-price">R$ {{ product.value_prod }}</div>
    </div>
  </div>

  <div class="total-card">
    Valor Total: R$ {{ finalValue }}
  </div>
</div>