body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #64c27b;
  padding: 10px 20px;
  color: #fff;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.toolbar {
  background-color: #64c27b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.toolbar .title {
  font-size: 1.5em;
  font-weight: bold;
}

.toolbar .back-button,
.toolbar .user-icon {
  cursor: pointer;
}

.user-icon,
.back-icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.user-icon:hover mat-icon,
.back-icon:hover mat-icon {
  color: #303f9f;
  transition: color 0.3s ease;
}

.product-list {
  padding: 20px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.product-item:last-child {
  border-bottom: none;
}

.product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.product-item .product-name {
  flex: 1;
  margin-left: 20px;
}

.product-item .product-price {
  font-weight: 700;
}

.total-card {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 700;
}