<div class="header">
  <div class="cart-icon" (click)="navigateToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </div>
  <div class="logo">CaféGourmet</div>
  <div class="user-icon" (click)="navigateToAccount()">
    <mat-icon>person</mat-icon>
  </div>
</div>

<div class="product-list">
  <div class="product-item" *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name_prod" height="200" width="200" />
    <h3 (click)="goToProductDetail(product)">{{ product.name_prod }}</h3>
    <p>{{ product.value_prod | currency }}</p>
  </div>
</div>


<div class="pagination">
  <a href="javascript:void(0)" (click)="previousPage()" [class.disabled]="currentPage === 1">« Anterior</a>
  <a href="javascript:void(0)" (click)="nextPage()" [class.disabled]="currentPage === totalPages">Próxima »</a>
</div>