<div class="header">
  <div class="back-icon" (click)="navigateToCatalog()">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <div class="logo">CaféGourmet</div>
  <div class="user-icon" (click)="navigateToAccount()">
    <mat-icon>person</mat-icon>
  </div>
</div>

<div class="container">
  <div class="product-card">

    <div class="product-image" [style.background-image]="'url(' + product.image + ')'" [title]="product.name_prod">
    </div>


    <div class="product-details">
      <h1>{{ product.name_prod }}</h1>
      <p>{{ product.description }}</p>


      <div class="price">{{ product.value_prod | currency:'USD':true }}</div>


      <div class="quantity">
        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" min="1">
      </div>
      <div class="buttons">
        <button class="buy-button" (click)="cart()">Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>

  <div class="description-card">

    <div class="description-details">
      <h1>About Our Coffee</h1>
      <p>Our gourmet coffee is made from the highest quality beans, carefully selected and roasted to perfection. Each
        cup offers a unique and rich flavor profile that is sure to satisfy even the most discerning coffee lovers.
        Whether you enjoy it black or with your favorite creamer, our coffee is the perfect way to start your day or
        enjoy a relaxing moment.</p>
    </div>
  </div>
</div>