.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d0fdd7;
}

.register-card {
  width: 400px;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  background-color: #ffffff;
}

mat-card-title {
  color: #64c27b;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}